.addTask {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    background: #282c34;
    color: coral;
    height: 100vh;
    align-items: flex-start;
}

.rightMargin{
    margin-right: 15px;
}