.column {
    border: #282c34 2px solid;
    width: 30%;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #282c34;
    color: coral;
    height: 80px;
}

.line {

    color: #282c34;
}
